[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"

[dev-packages]
pipenv = "*"
mypy = "*"
pylint = "*"
pycodestyle = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
